@import url('../styles/header.css');
@import url('../styles/footer.css');

html {
    font-family: 'Roboto', sans-serif;
}

.root {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.active-link {
    color: #213B7E;
    background-color: #FFFFFF;
    text-decoration: none;
}

.content {
    margin: 0 auto;
    flex-grow: 1;
    max-width: 911px;
    width: 100%;
}

.content__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0 25px 0;
}

.video {
    width: 820px;
    box-sizing: border-box;
    height: 550px;
    border: 2px solid #EA5D21;
    margin-bottom: 313.67px;
}

.paragraph {
    width: 288px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .content {
        width: calc(100% - 40px);
    }

    .map-photo {
        margin-left: 0px;
        height: auto;
    }

    .video {
        width: 500px;
        box-sizing: border-box;
        height: 300px;
        border: 2px solid #EA5D21;
        margin-bottom: 313.67px;
    }
}

@media screen and (max-width: 767px) {
    .content {
        width: calc(100% - 40px);
    }

    .map-photo {
        margin-left: 0px;
        height: auto;
    }

    .video {
        width: 280px;
        box-sizing: border-box;
        height: 150px;
        border: 2px solid #EA5D21;
        margin-bottom: 313.67px;
}