@import url('../styles/header.css');
@import url('../styles/footer.css');

html {
    font-family: 'Roboto', sans-serif;
}

.root {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.active-link {
    color: #213B7E;
    background-color: #FFFFFF;
    text-decoration: none;
}

.content {
    margin: 0 auto;
    flex-grow: 1;
}

.content__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0 25px 286px;
    display: flex;
    align-items: center;
}

.map-photo {
    width: 1268px;
    height: 370px;
    left: 86px;
    top: 173px;
}

.main__paragraph {
    width: 185px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    margin-left: 288px;
}

.paragraph {
    margin-left: 288px;
}

.paragraph__tel {
    margin-bottom: 420px;
    margin-left: 288px;
    text-decoration: underline;
}