@import url('../styles/header.css');
@import url('../styles/footer.css');

html {
    font-family: 'Roboto', sans-serif;
}

.root {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.active-link {
    color: #213B7E;
    background-color: #FFFFFF;
    text-decoration: none;
}

.content__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0 25px 38px;
}

.content {
    margin: 0 auto;
    flex-grow: 1;
    max-width: 1202px;
    width: 100%;
}

.position {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 519px;
}

.new__student {
    position: absolute;
    width: 94px;
    height: 24px;
    margin-right: 666px;
    margin-bottom: 258px;
    background: #3AA828;
    border-radius: 20px;
}

.name__student__Stepanov {
    text-align: center;
    text-decoration: none;
}

.link__student {
    text-decoration: none;
    color: black;
}

.active__link__student {
    position: relative;
}

.center__li {
    display: flex;
    align-items: center;
    text-align: center;
}

.name__student {
    text-align: center;
}

.chip {
    background-color: #3AA828;
    color: #FFFFFF;
    position: absolute;
    width: 94px;
    height: 24px;
    left: 594px;
    top: 140px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
}

.photo__student {
    width: 200px;
    height: 270px;
}

@media screen and (max-width: 1024px) {
    .chip {
        background-color: #3AA828;
        color: #FFFFFF;
        position: absolute;
        width: 94px;
        height: 24px;
        left: 555px;
        top: 555px;
        background: #3AA828;
        border-radius: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

@media screen and (max-width: 425px) {
    .chip {
        background-color: #3AA828;
        color: #FFFFFF;
        position: absolute;
        width: 94px;
        height: 24px;
        left: 111px;
        top: 111px;
        background: #3AA828;
        border-radius: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}