@import url('../styles/header.css');
@import url('../styles/footer.css');


/*.content {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
*/

.root {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.me__photo {
    max-width: 316px;
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.photo__car {
    max-width: 300px;
    max-height: 200px;
}

.container {
    max-width: 300px;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
}

.slider {
    border: 2px solid black;
    /* width: 100%; */
    max-width: 300px;
    /* height: 300px; */
    margin: 20px auto;
    overflow: hidden;
}


.slider-line {
    width: 300px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

@media screen and (max-width: 1024px) {
    .heading {
        width: calc(100% - 40px);
    }

    .end {
        width: calc(100% - 40px);

    }

    .content {
        min-height: 80px;
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .paragraph__one {
        font-size: 20px;
        margin: 0 auto;
        flex-wrap: wrap;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 1200px;
        width: 100%;
    }

    .Me__photo {
        max-width: 300px;
        width: 100%;
    }
    
    .paragraph__one::first-letter {
        color: rgb(255, 255, 255);
        background-color: #213B7E;
        font-size: 100px;
    }
    
    .paragraph__two {
        font-size: 20px;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 200px;
        flex-wrap: wrap;
        max-width: 1200px;
        width: 100%;
    }
    
    .paragraph__two::first-letter {
        color: rgb(255, 255, 255);
        background-color: #213B7E;
        font-size: 100px;
    }

}

@media screen and (max-width: 767px) {
    .heading {
        width: calc(100% - 40px);
    }

    .end {
        width: calc(100% - 40px);

    }

    .content {
        width: calc(100% - 40px);
        flex-direction: column;
        height: fit-content;
        gap: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .paragraph__one {
        font-size: 20px;
        margin: 0 auto;
        flex-wrap: wrap;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 1200px;
        width: 100%;
    }
    
    .paragraph__one::first-letter {
        color: rgb(255, 255, 255);
        background-color: #213B7E;
        font-size: 50px;
    }
    
    .paragraph__two {
        font-size: 20px;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 200px;
        flex-wrap: wrap;
        max-width: 1200px;
        width: 100%;
    }
    
    .paragraph__two::first-letter {
        color: rgb(255, 255, 255);
        background-color: #213B7E;
        font-size: 50px;
    }

    .Me__photo {
        max-width: 300px;
        width: 100%;
    }
    
}